/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;
}

.conatiner {
  width: 100%;
  height: 100vh;
}

body {
  background: rgba(0, 0, 0, 0.952);
  overflow-x: hidden;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}


nav.sticky {
  background: #4070f4;
  padding: 13px 0;
  height: 5rem;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 700;
  font-size: 50px;
  color: #4070f4;
}

/* CSS for the navigation links */
nav .menu li a {
  position: relative;
  font-size: 22px;
  font-weight: 450;
  color: #4070f4;
  transition: color 0.3s ease;
}

/* Add an underline pseudo-element */
nav .menu li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  /* Initially, no width */
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
}

nav .menu li a:hover::before {
  width: 100%;
}


nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 10px;
}

.navbar .menu a {
  font-size: 20px;
  font-weight: 450;
  color: #4070f4;
  transition: all 0.4s ease;
}

nav.sticky .menu a {
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */
.home {
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Add this line to hide the overflowing video */
}

.home video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* Use 100% height to cover the entire section */
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  backdrop-filter: blur(7px);
  /* Add a blur effect to the overlay */
  z-index: -1;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-items: right;
}

.home .text-one {
  font-size: 70px;
  font-weight: 600;
  color: white;
}

.home .text-two {
  color: #4070f4;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  transition: text-shadow 0.3s ease;
  /* Adding a smooth transition */
  cursor: pointer;
}

.home .text-two {
  animation: glowing 1.5s infinite;
  /* Apply the glowing animation on hover */
  text-shadow: 0 0 8px rgba(64, 112, 244, 0.6), 0 0 15px rgba(64, 112, 244, 0.6), 0 0 25px rgba(64, 112, 244, 0.6);
  /* Shadow settings with increased opacity */
}

@keyframes glowing {

  0%,
  100% {
    text-shadow: 0 0 8px rgba(64, 112, 244, 0.6), 0 0 15px rgba(64, 112, 244, 0.6), 0 0 25px rgba(64, 112, 244, 0.6);
  }

  50% {
    text-shadow: 0 0 15px rgba(64, 112, 244, 0.6), 0 0 25px rgba(64, 112, 244, 0.6), 0 0 35px rgba(64, 112, 244, 0.6);
  }
}



.home .text-three {
  font-size: 30px;
  margin: 5px 0;
  color: #fcfdff;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 600;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
  transform: scale(1.07);
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

section .title span {
  color: #4070f4;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  padding-left: 3rem;
  padding-bottom: 5rem;
}

.about .left img {
  object-fit: contain;
  border-radius: 20px;
  width: 35%;
}

.about-details .right {
  width: 55%;
  margin-left: -60rem;
}

.about-details .right p {
  text-align: justify;
  color: white;
  margin-top: -5rem;
}

section .button {
  margin-top: 2rem;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 600;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
  transform: scale(1.06);
}

.skills .content {
  padding: 40px 0;
}

.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text {
  width: 50%;
}

.skills-details p {
  color: white;
  text-align: justify;
}

.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .exp {
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
  cursor: pointer;
}

.skills-details .boxes .topic {
  font-size: 25px;
  color: #1e597a;
  text-decoration: underline;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: #4070f4;
}

/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.959);
  width: calc(100% / 3 - 50px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.4s ease;
}

.box .topic {
  font-size: 30px;
  font-weight: 500;
}

.box:hover {
  transform: scale(1.06);
  /* Scale the box by 110% on hover */
  transition: transform 0.3s ease;
  /* Add smooth transition */
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.box-icon {
  margin-top: 1rem;
}

.box-icon a i {
  height: 40px;
  width: 40px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  margin: 0.9rem;
}

.boxes .box:hover .box-icon a i {
  background: #fff;
  color: #4070f4;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}


/* Contact Me CSS */


.contact .content {
  margin: 0 auto;
  padding: 30px 0;
  color: white;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #4070f4;
  padding: 7px 12px;
  ;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

.media-icons {
  display: flex;
  margin-top: 0.8rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  padding-left: 4.2rem;
}

.media-icons a {
  color: white;
  font-size: 2rem;
  margin-right: 60px;
  transition: 0.4s ease;
}

.media-icons a:hover {
  transform: scale(1.3);
}

.right-text2 {
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }

  .right-text2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }

  .right-text2 {
    display: none;
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }

  .right-text2 {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  .home video {
    width: 100vw;
  }

  .text .text-one {
    font-size: 50px;
  }

  .text .text-two {
    font-size: 55px;
  }

  .text .text-three {
    font-size: 25px;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .about .left img {
    margin-right: 2.5rem;
  }

  .right-text1 {
    display: none;
  }

  .right-text2 {
    display: block;
  }

  .about .my-edu span {
    margin-bottom: -2.5rem;
  }

  .about-details .edu img {
    width: 20rem;
    margin-left: -10px;
    margin-bottom: -4rem;
  }

  .none {
    display: none;
  }
  
  .skills-details .boxes{
    margin-left: 25px;
  }
  .skills-details .box {
    margin-right: 20px;
  }

  .menu-btn i{
    margin-top: 13px;
  }
  .scroll-button a{
    margin-right: -1.7rem;
    margin-bottom: 4rem;    
  }
}